@charset "UTF-8";
/* CSS Document */

@media (min-width : 0px) and (max-width : 1023px) {
   .easy_view #page_container {
		width:100%;
	}

	.easy_view #page_header {
		width: auto;
		left: 0;
		right: 0;
		margin-left: 0;
	}
	
	.easy_view table.grid_table tbody tr.child .child_row_details {
		display: block;
		float: none;
		position: relative;
	}
	
	.dash_column.width_1 { width:50%}
	.dash_column .dash_column.width_1 { width:100%}
	.dash_column.width_2 { width:50%}
	.dash_column .dash_column.width_2 { width:100%}
	.dash_column.width_3 { width:50%;}
	.dash_column .dash_column.width_3 { width:100%;}
	.dash_column.width_4 { width:100%;}
	.dash_column.width_1.width_last { width:100%;}
	
	
	/* For nested portlets */
	
	.dash_column .dash_column .portlet {
		margin:0px 10px;
		background-color:#FFFFFF;
		margin-bottom:20px;
		min-height:290px;
		position:relative;
	}
	
	.inner_col_left {
		float:left;
		width:100%;
	}
	
		.inner_col_left_padding {
			margin-right:0px;
		}
	
		.inner_col_left .module_block {
			margin-right:0px;
			margin-bottom:20px;
		}
	
	.inner_col_right {
		float:right;
		width:100%;
	}
	
		.inner_col_right_padding {
			margin-left:0px;
		}
	
		.inner_col_right .module_block {
			margin-left:0px;
			margin-bottom:20px;
		}
}

@media (width : 1024px)  {
   .easy_view #page_container {
		width:100%;
	}

	.easy_view #page_header {
		width: auto;
		left: 0;
		right: 0;
		margin-left: 0;
	}
	
	.dash_column.width_1 { width:50%}
	.dash_column.width_2 { width:50%}
	.dash_column.width_3 { width:50%;}
	.dash_column.width_4 { width:100%;}
	.dash_column.width_1.width_last { width:100%;}
	
}

@media (min-width : 0px) and (max-width: 1280px)  {
	
	#page_body #page_content #page_content_inner #grid_panel_table {
		padding:10px 10px 5px;	
	}
	
	#page_body #page_content #page_content_inner #grid_panel_details .grid_panel_inner {
		padding:10px;
	}
	
	#page_body {
		padding:10px;
	}
	
	#page_nav {
		height:40px;
	}
	
	#page_nav ul {
		margin-left:0px;
	}
	
	#page_nav ul li a {
		padding:10px;
	}
	
	#page_header {
		padding:10px;
	}
	
	.grid_controls {
		margin-top:10px;
	}
	
	.receipt_panel {
		padding:0px 10px 1px;
	}
	
	#page_nav {
		margin-top:50px;
	}

	table.grid_table tbody td {
		padding:1px 5px;
	}
	
	#grid_detail_link {
		top:10px;
	}
	
	.dash_column .portlet .portlet_content {
		padding:10px;
	}
	
	.dash_column .portlet .portlet_header {
		padding:0px 0px 0px 10px;
	}
	
	#page_body.no_nav {
		margin-top: 50px;
	}
	
	.module_block .module_header {
		padding: 5px;
	}
	
	.column_container {
		margin: 0px;
	}
	
	#page_body #page_content #page_content_inner #table_container {
		padding:10px 10px 5px;	
	}
}