@charset "UTF-8";
/* CSS Document */

/****** DEFAULT COLOURS ******/
.color_1 {color:#b32f37 !important;} /* Light Blue */
.color_2 {color:#454545 !important;} /* Dark Blue */
.color_3 {color:#FFFFFF !important;} /* Dark Blue */

.bg_color_1 {background-color:#b32f37;} /* Light Blue */
.bg_color_2 {background-color:#666666;} /* Dark Blue */
.bg_color_3 {background-color:#FFFFCC;} /* used for hover */
.bg_color_4 {background-color:#e3e3e3;} /* Lighter Grey */
.bg_color_5 {background-color:#C7EAFB;} /* Used for Module Header */
.bg_color_6 {background-color:#f0f0f0;} /* Used for the bg of a header on an edit module */


/* Hyperlink Styles */
a:link, a:visited {
	color:#b32f37;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

/******* BUTTONS *******/
/* Primary Button - Call to Action */
.btn_primary {
	background-color:#b32f37;
	color:#FFFFFF;
	border-color:#b32f37;
}

/* Secondary Postive Button */
.btn_secondary {
	background-color:#454545;
	color:#FFFFFF;
	border-color:#454545;
}

/* Negative / Cancel / Back Button */
.btn_grey {
	background-color:#e3e3e3;
	color:#454545;
	border-color:#e3e3e3;
}


/******* LOGOS *******/
/* Primary Logo */
#page_header .logo_primary > div a {
	background-color:transparent;
    background-image: url(images/cnh_us/logo_cnh_x2.png); /* this is the retina ready version of the logo. A retina ready logo will be twice the size of what the logo should normally be. e.g. A normal image might be 30px by 120px, whereas a retina image would be 60px by 240px and then resized to be the correct height and width using CSS */ 
	background-image:  url(images/cnh_us/logo_cnh.png)\9; /* This is the non-retina version of the logo - don't forget to put the "\9" at the end of the tag so that IE8 can view it */
	background-position:0px 0px; /* This is the position of the placement of the logo. "0px" "0px" is the same as saying "top" "left" */
	background-repeat:no-repeat; /* Don't repeat the background image */
	width:110px; /* Specifiy the width of the image */
	height: 50px; /* Specify the height of the image */
	background-size:110px 50px; /* Here you set what the width and the height of the 'normal' image size should be. */
	margin-top:-10px; /* This is to allow for the offset of the bigger logo that won't fit in a 30px height area  */
}

/* Not Logged in - Primary Logo */
.not_logged_in #page_header .logo_primary > div a {
	background-color:transparent;
    background-image: url(images/cnh_us/logo_cnh_x2.png);
	background-image:  url(images/cnh_us/logo_cnh.png)\9; 
	background-position:0px 0px; 
	background-repeat:no-repeat; 
	width:110px; 
	height: 50px; 
	background-size:110px 50px; 
	margin-top:-10px; 
}
	

/* Secondary Logo */
#page_header .logo_secondary>.logo_container {
	background-color:transparent;
	background-image: none;
	background-image: none;
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-size:0px 0px;
	width:0px;
	height:0px;
}

/* Update these values to place the secondary logo elsewhere on the page */
#page_header .logo_secondary {
	border-left:0px solid #e3e3e3; /* Add in a line alongside the product name */
	float:left; /* Place the logo either to the right of the logo by setting the value to "Left" or on the right of the page by setting the value to "Right" */
	display:none;
}


/******* PAGE HEADER / FOOTER & CENTER LOGO *******/
/* Page background Color */
#page_body {
	background-color: #EEEEEE;
}

/* Page background Color when you are not logged in and there is no nav on the page - This is mainly for the horses on wells fargo theme*/
#page_body.no_nav {
	background-color: #EEEEEE;
	background-image:none;
	background-image:none;
	background-position: right bottom;
	background-size:0px 0px;
	background-repeat:no-repeat;
}


/* Body Background Colour */
body.bg_color_2	{
	background-color:#666666; /* This will override the default background color set at the top of the page */
	background-image:none; /* Set this to none if there is no background image in the header */
	background-repeat:repeat;
}

/* Body Background Colour for Easy View */
body.bg_color_4.easy_view {
	background-color:#EEEEEE;
}


/* 360 Austin Center logo and header background colour */
#page_header.bg_color_2 {
	background-color:#FFFFFF;
	background-image:none; /* you can set the image here to none if you don't want a logo placed in the center of the header bar */
	background-image:none;
	background-position: left bottom;
	background-repeat:no-repeat;
	background-size: auto auto;
	color:#454545; /* Color of the text in the header bar */
	box-shadow:0px 1px 0px rgba(0,0,0,0.1); /* Add a bottom shadow to the header bar - This is important when the header bar is the same background colour as the body and it provides distinction */
	border-bottom:1px solid #e3e3e3\9; /* Add a border bottom for IE8 browsers */
}


/* Page Footer */
#page_footer.bg_color_2 {
	background-color:#666666;
	background-image: none; /* Set this to none if there is no background image in the footer */
	background-repeat:repeat;
}


/******* NAVIGATION *******/
/* Navigation Background */
#page_nav {
	background-color: #666666;
}

/* Default Navigation Links */
#page_nav ul li a {
	color:#FFFFFF;
}

/* Hover and Selected Navigation Links */	
#page_nav ul li.current a,
#page_nav ul li a:hover {
	color:#FFFFFF; 
	background-color:#b32f37;
}

/* Header Bar Navigation colour */
#page_header .user_preferences > ul > li > a		{
	color:#454545;
}

#page_header .user_preferences > ul > li > a.active	{
	color:#454545; 
	background-color:transparent;
}


/******* SIDE PANEL ON EASY VIEW AND CARDS SCREEN *******/
/* Easy View Side Panel */
#page_slider_nav.bg_color_1 {
	background-color:#FFFFFF;
}

/* Easy View Header Background Colour */
.easy_view #page_header	{
	border-bottom:1px solid #e3e3e3;
}

/* Easy View Side Panel Header */
.easy_view #page_slider_nav .col_easy_nav {
	color:#454545;
}

/* Easy View Side Panel headings */
.easy_view #page_slider_nav .col_easy_nav h3,
.card_view #page_slider_nav .col_easy_nav h3 {
	background-color:#b32f37; 
	color:#FFFFFF; 
	background-image:none;
}

/* Easy View Side Panel each nav item*/
.easy_view #page_slider_nav .col_easy_nav ul li	{
	border-bottom:1px solid #e3e3e3;
}

/* Easy View Side Panel Hyperlinks*/
.easy_view #page_slider_nav .col_easy_nav ul li a {
	color:#454545;
}

/* Easy View Side Panel Hyperlink Active */
.easy_view #page_slider_nav .col_easy_nav ul li a.active {
	background-color: #e8e8e8;
	color: #454545;
}


/******* EASY VIEW MODULES - THESE ARE THE BLOCKS OF INFORMATION ON THE EASY VIEW PAGES AND STATEMENT SCREENS *******/
/* Module Headers */
.module_header.bg_color_5 {
	background-color:#DDDDDD; 
	color:#454545;
}

/* Back Button Styling */
.back_btn.bg_color_2 {
	background-color:#b32f37 ;
}

/* Background color for Statement Table Header */
table.grid_overview_table thead tr > th {
	background-color: #b32f37;
	color:#FFFFFF;
}


/******* DASHBOARD *******/
/* Custom Styling for Dashboard Portlets */
.dash_column .portlet {
	border:0px solid #e3e3e3;
}


/******* ICONS *******/
/* Change Icon to grey instead of blue default */
.form_help_text {
	background-color:transparent;
	background-image:url("../images/icon_info_grey_x2.png");
	background-image:url("../images/icon_info_grey.png")/9;
	background-position: left 7px;
	background-repeat:no-repeat;
	background-size:12px 12px;
}

/* Change iconset to grey instead of blue */				
.info_icon {
	background-image:url("../images/icon_info_grey_x2.png");
	background-image:url("../images/icon_info_grey.png")/9;
}

.btn_nav_prev,
.btn_nav_next,
.grid_controls #grid_pagination ul li a.pag_next_btn,
.grid_controls #grid_pagination ul li a.pag_prev_btn {
	background-image: url("../images/icon_pag_dark_x2.png");
	background-image: url("../images/icon_pag_dark.png")\9;
}

.drawer_panel h4 a {
	background-image:url("../images/icon_drawers_arrow_dark_x2.png");
	background-image:url("../images/icon_drawers_arrow_dark.png")\9;
	color:#b32f37 !important;
	background-color:#f3f3f3;
}


/******* COMMENT STYLING *******/
ul.comments li .comment_by {color:#b32f37 !important;}


/******* INNER BORDERS *******/
/* Place a border around the contents of a page if the background color of the page is to similar to the background color of the contents */
#page_body #page_content_inner 						{border:0px solid #e3e3e3;}
.easy_view #page_body #page_content_inner 			{border:0px solid #e3e3e3;}
